.section-card {
  color: gray(0) !important;

  h1 {
    color: gray(0);
    margin-bottom: 1em;
  }

  h2, h3, h4, h5, h6, p {
    color: mix(gray(0), $primary, 50%);
  }

  a[href] {
    color: inherit;
  }
}

.section-card.slide-background {
  background-color: color(pink) !important;
  display: block !important;
}
