// Code
pre {
  box-sizing: border-box;
  display: block;
  position: relative;
  margin: 0;
  text-align: left;
  font-size: 0.75em;
  @include font(code, lighter);
  line-height: 2;
  word-wrap: break-word;
  background-color: gray(88);
  border-radius: 1rem;
}

code {
  display: inline-block;
  border-radius: 0.5rem;
  @include font(code, lighter);
  font-size: 0.875em;
  padding: 0 0.125em;
  background-color: gray(5);
  box-shadow: 0 0 0 0.125rem gray(10);
}

pre code {
  display: block;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  @include font(code, lighter);
  padding: 24px;
}
